{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center hero">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">

                <h1><span>Erik Halenkamp</span></h1>
                <h2>Software Engineer</h2>
                <h2>University of Northern Colorado Class of 2022</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="#resume"> <i class="ri-attachment-line"></i></a>
                    <h3><a href="#resume">Resume</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="https://www.linkedin.com/in/erik-halenkamp-4b49451a6/" target="_blank"
                        rel="noopener noreferrer"> <i class="ri-linkedin-box-line"></i></a>
                    <h3><a href="https://www.linkedin.com/in/erik-halenkamp-4b49451a6/" target="_blank"
                            rel="noopener noreferrer">LinkedIn</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <a href="https://github.com/ewhalenkamp" target="_blank" rel="noopener noreferrer">
                        <i class="ri-github-line"></i></a>
                    <h3><a href="https://github.com/ewhalenkamp" target="_blank" rel="noopener noreferrer">GitHub</a>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                    data-aos-delay="100">
                    <h3>About Erik</h3>
                    <p class="font-italic">
                        <b>Welcome to my portfolio!</b>
                    </p>
                    <p class="font-italic">
                        My name's Erik, and I'm a 21 year-old Senior Software Engineering
                        student
                 attending the
                        <a href="https://www.unco.edu/" target="_blank" rel="noopener noreferrer">University of
                            Northern Colorado</a> in Greeley,
                        Colorado. I am
                        currently exploring new technologies and subjects to determine what career path will truly
                        fit my ambition, and I hope to work with some of you reading this!
                    </p>
                    <h3>Technical Skills</h3>
                    <ul>
                        <li><i class="ri-check-double-line"></i><b>Languages:</b> Python, Java, C#, JavaScript (server
                            and client-side), HTML/CSS, SQL, Lua, Swift</li>
                        <li><i class="ri-check-double-line"></i><b>Frameworks:</b> Django, React.js, Bootstrap, SwiftUI
                        </li>
                        <li><i class="ri-check-double-line"></i><b>Project Scope:</b> Creating and Utilizing REST APIs,
                            Full Stack Web Development, iOS Applications</li>
                        <li><i class="ri-check-double-line"></i><b>Coursework:</b> Object-Oriented Design and
                            Development, Algorithms and Data Structures, Mobile/Web App
                            Development, Graphical Interface Programming, Project Management, Probability Theory</li>
                    </ul>
                    <p><b>Check out my Projects Tab for some examples!</b></p>
                    <p>
                        I am searching for Software Engineering employment opportunities that will allow me to expand my
                        skillset further into what the industry commonly uses.
                        I hope to work with other, focused individuals, as I feel it's the best way to learn new
                        technologies quickly and do just that.
                        Please reach out to me if you have any questions!
                    </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <div class="content">
                        <h3 style="text-align: center;">My Skills Spread</h3>
                    </div>
                    <br>
                    <canvas id="myChart" style=" height:375px; width:650px"></canvas>
                    <script>
                        var myChart = document.getElementById('myChart').getContext('2d');
                        Chart.defaults.global.defaultFontFamily = 'Lato';
                        Chart.defaults.global.defaultFontSize = 18;
                        Chart.defaults.global.defaultFontColor = '#777';
                        var pythonlogo = new Image();
                        pythonlogo.src = "{% static '/img/icons/python.png' %}";
                        var javalogo = new Image();
                        javalogo.src = "{% static '/img/icons/java.png' %}"
                        var cslogo = new Image();
                        cslogo.src = "https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png"
                        var htmllogo = new Image();
                        htmllogo.src = "http://assets.stickpng.com/thumbs/5847f5bdcef1014c0b5e489c.png"
                        var jslogo = new Image();
                        jslogo.src = "https://logodix.com/logo/374736.png"
                        var lualogo = new Image();
                        lualogo.src = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Lua-Logo.svg/1200px-Lua-Logo.svg.png"
                        const canvasx = document.getElementById('myChart').getBoundingClientRect().left;
                        const canvasy = document.getElementById('myChart').getBoundingClientRect().top;
                        var debounce = false
                        var done = false

                        config = {
                            type: 'pie',
                            data: {
                                labels: ['Python (30%)', 'Java (20%)', 'Javascript (20%)', 'C# (15%)', 'HTML/CSS (10%)', 'Other (5%)'],
                                datasets: [{
                                    data: [30, 20, 20, 15, 10, 5],
                                    backgroundColor: ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(153, 102, 255, 0.6)', 'rgba(255, 159, 64, 0.6)', 'rgba(255, 99, 132, 0.6)'],
                                }]
                            },
                            options: {
                                responsive: true,
                                animation: {
                                    duration: 0
                                },
                                cutoutPercentage: 50,
                                legend: {
                                    display: false,
                                    position: 'bottom'
                                },
                                layout: {
                                    padding: {
                                        left: 0,
                                        right: 0,
                                        bottom: 0,
                                        top: 0
                                    }
                                },
                                tooltips: {
                                    enabled: true
                                },
                                events: ['mousemove', 'mouseout', 'touchstart', 'touchmove'],
                                //programming language icon follows by redestroying enough charts to seem like fluid animation
                                //chart.js has no delete element functionality for some reason
                                onHover: function (e, elements) {
                                    if (elements[0]) {
                                        document.getElementById("myChart").style.cursor = "none";

                                        massPopChart.destroy();
                                        massPopChart = new Chart(myChart, config);
                                        done = false
                                        switch (elements[0]._index) {
                                            case 0:
                                                myChart.drawImage(pythonlogo, e.pageX - canvasx + 75, e.pageY - canvasy + 75, 50, 50);
                                                break;
                                            case 1:
                                                myChart.drawImage(javalogo, e.pageX - canvasx + 75, e.pageY - canvasy + 75, 50, 50);
                                                break;
                                            case 2:
                                                myChart.drawImage(jslogo, e.pageX - canvasx + 60, e.pageY - canvasy + 75, 80, 50);
                                                break;
                                            case 3:
                                                myChart.drawImage(cslogo, e.pageX - canvasx + 75, e.pageY - canvasy + 75, 50, 50);
                                                break;
                                            case 4:
                                                myChart.drawImage(htmllogo, e.pageX - canvasx + 65, e.pageY - canvasy + 75, 70, 50);
                                                break;

                                            case 5:
                                                myChart.drawImage(lualogo, e.pageX - canvasx + 75, e.pageY - canvasy + 75, 50, 50);
                                                break;
                                        }
                                    }
                                    if (!done && !elements[0]) {
                                        document.getElementById("myChart").style.cursor = "default";
                                        massPopChart.destroy();
                                        massPopChart = new Chart(myChart, config)
                                        done = true
                                    }
                                },
                            },
                        }

                        let massPopChart = new Chart(myChart, config);
                        massPopChart.destroy();
                        massPopChart = new Chart(myChart, config);

                    </script>
                    <br>
                    <div class="content">
                        <h3 style="text-align: center;">Hover Me!</h3>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End About Section -->


    <!-- ======= Cta Section ======= -->
    <section id="resume" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3 style="margin-top:30px; font-size:40px;">Full Resume</h3>
                <br>
                <embed src="{% static 'pdf/resume.pdf' %}" width="1140" height="900" type="application/pdf">
            </div>

        </div>
    </section><!-- End Cta Section -->



</main><!-- End #main -->
{% endblock content %}