{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
  <br>
  <br>
  <br>
  <section class=" breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1>Multi Music Player</h1>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Multi Music Player</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


          <div class="icon-box" style="padding:50px; border:3px solid gray;">
            <h4>Project Type</h4>
            <p>React Web Application</p>
            <h4>Development Team / Timeline</h4>
            <p>Solo / 2 weeks</p>
            <h4>Date Completed</h4>
            <p>March 2021</p>
            <h4>Project URL</h4>
            <p><a href="/projects/1/demo">Demo</a> (click Search to get started)</p>
            <h4>GitHub URL</h4>
            <p><a href="https://github.com/ewhalenkamp/multimusicplayer" target="_blank"
                rel="noopener noreferrer">https://github.com/ewhalenkamp/multimusicplayer</a></p>
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
          <h2>Project Description</h2>
          <p>Multi Music Player accesses multiple <a href="https://developers.google.com/youtube/v3">YouTube APIs</a>, allowing users to search for music and add
            it to their queue to be played in-app. It functions as a playlist off the YouTube website itself,
            and has as-of-yet proven to be an ad-less alternative to regular YouTube playlists.
          </p>
          <p>
            This application was programmed in sprints over a short duration of time. Check out the documentation under the GitHub link for more information.
          </p>
          <h2>Languages and Technologies</h2>
          <div class="minilogos">
            <img style="width: 75px;"src="{% static '/img/icons/react.png' %}" alt="react" title="React">
            <img src="{% static 'img/icons/restapi.png' %}" alt="restapi" title="REST API">
            <img style="width: 125px;" src="{% static '/img/icons/htmljscss.png' %}" alt="html/js/css"
              title="HTML / JS / CSS">
          </div>
        </div>

      </div>

    </div>
  

  </section>
</div>

</main><!-- End #main -->

{% endblock content %}