{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
  <br>
  <br>
  <br>
  <section class=" breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1>Easel Gradebook</h1>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Easel Gradebook</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


          <div class="icon-box" style="padding:50px; border:3px solid gray;">
            <h4>Project Type</h4>
            <p>Django Web Application (Course Project)</p>
            <h4>Development Team / Timeline</h4>
            <p>4 Members / 1 Semester</p>
            <h4>Date Completed</h4>
            <p>December 2020</p>
            <h4>Project URL</h4>
            <p><a href="http://teamcs350easel.pythonanywhere.com" target="_blank"
                rel="noopener noreferrer">http://teamcs350easel.pythonanywhere.com</a></p>
            <h4>GitHub URL</h4>
            <p><a href="https://github.com/KiraMatchBox/CS350-Team" target="_blank"
                rel="noopener noreferrer">https://github.com/KiraMatchBox/CS350-Team</a></p>
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
          <h2>Project Description</h2>
          <p>Easel Gradebook is a Web Application that allows users to experience a course organization system similar
            to
            <a href="https://www.blackboard.com/" target="_blank" rel="noopener noreferrer">Blackboard</a>, <a
              href="https://classroom.google.com" target="_blank" rel="noopener noreferrer">Google</a>
            Classroom, and <a href="https://www.instructure.com/" target="_blank" rel="noopener noreferrer">Canvas</a>,
            for which it is affectionately named.
          </p>
          <p>
            Users are able
            to create classes for which they are the new instructor. There, they may create assignments, manage the
            course discussion board,
            and grade work submitted by students, other users that join the course after its creation.
          </p>
          <h2>Languages and Technologies</h2>
          <div class="minilogos">
            <img src="{% static '/img/icons/django.png' %}" alt="django" title="Django">
            <img src="{% static '/img/icons/python.png' %}" alt="python" title="Python">
            <img style="width: 125px;" src="{% static '/img/icons/htmljscss.png' %}" alt="html/js/css"
              title="HTML / JS / CSS">
          </div>
        </div>

      </div>

    </div>
  

  </section>
</div>

</main><!-- End #main -->

{% endblock content %}