{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

  <script>
    document.getElementById("header").classList.add("header-inner-pages");
    document.getElementById("homebutton").href = '/'
    document.getElementById("aboutbutton").href = '/#about'
  </script>

  <!-- ======= Breadcrumbs ======= -->
  <div class="project-1">
  <br>
  <br>
  <br>
  <section class=" breadcrumbs">

    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h1>My Portfolio</h1>
        <ol>
          <li><a href="/">Home</a></li>
          <li>My Portfolio</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


          <div class="icon-box" style="padding:50px; border:3px solid gray;">
            <h4>Project Type</h4>
            <p>Django Web Application</p>
            <h4>Development Team / Timeline</h4>
            <p>Solo / 3 weeks</p>
            <h4>Date Completed</h4>
            <p>March 2021</p>
            <h4>Project URL</h4>
            <p><a href="/">Home Page</a></p>
            <h4>GitHub URL</h4>
            <p><a href="https://github.com/ewhalenkamp/portfolio" target="_blank"
                rel="noopener noreferrer">https://github.com/ewhalenkamp/portfolio</a></p>
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up" data-aos-delay="100">
          <h2>Project Description</h2>
          <p>
              This portfolio features four projects, including a YouTube API-fetching music player, a gradebook, a proprietary API-fetching Pok&eacute;dex website,
               and a nonogram puzzle solver. Of these, only the puzzle solver and the gradebook were made before construction started on this project.
          </p>
          <p>
            While the portfolio itself is a mere compilation, the Pok&eacute;dex and music player (and most of the technologies required to create them, including React and Springboot) were learned from 
            scratch in the few weeks since I've started crafting this portfolio. I used Webpack to serve a prototype of RecordWall, though this is no longer the case as RecordWall has released on the App Store.
          </p>
          <h2>Languages and Technologies</h2>
          <div class="minilogos">
            <img src="{% static '/img/icons/django.png' %}" alt="django" title="Django">
            <!-- <img src="{% static '/img/icons/python.png' %}" alt="python" title="Python"> -->
            <img style="width:75px; height:75px;" src="{% static '/img/icons/webpack.png' %}" alt="webpack" title="Webpack">
            <img style="width: 125px;" src="{% static '/img/icons/htmljscss.png' %}" alt="html/js/css"
              title="HTML / JS / CSS">
              <img style="width: 75px;" src="{% static '/img/icons/aws.png' %}" alt="AWS"
                title="AWS">
            
          </div>
        </div>

      </div>

    </div>
  

  </section>
</div>

</main><!-- End #main -->

{% endblock content %}