{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <script>
        document.getElementById("header").classList.add("header-inner-pages");
        document.getElementById("homebutton").href = '/'
        document.getElementById("aboutbutton").href = '/#about'
    </script>

    <!-- ======= Breadcrumbs ======= -->
    <div class="project-1">
        <br>
        <br>
        <br>
        <section class=" breadcrumbs">

            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h1>Pok&eacute;dex v2</h1>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Pok&eacute;dex v2</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="100">


                        <div class="icon-box" style="padding:50px; border:3px solid gray;">
                            <h4>Project Type</h4>
                            <p>Django Web Application & Springboot API</p>
                            <h4>Development Team / Timeline</h4>
                            <p>Solo / 3 days</p>
                            <h4>Date Completed</h4>
                            <p>March 2021</p>
                            <h4>Project URL</h4>
                            <p><a href="https://halenkamp-pokedexv2.herokuapp.com/" target="_blank"
                                    rel="noopener noreferrer">https://halenkamp-pokedexv2.herokuapp.com</a></p>
                            <h4>GitHub URLs</h4>
                            <p><a href="https://github.com/ewhalenkamp/pokedexwebsitev2" target="_blank"
                                    rel="noopener noreferrer">https://github.com/ewhalenkamp/pokedexwebsitev2</a></p>
                            <p><a href="https://github.com/ewhalenkamp/pokemonapi" target="_blank"
                                    rel="noopener noreferrer">https://github.com/ewhalenkamp/pokemonapi</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 order-1 content" data-aos="fade-up"
                        data-aos-delay="100">
                        <h2>Project Description</h2>
                        <p>This project lists each and every Pok&eacute;mon instance until the start of the current
                            Generation, Gen VIII. By clicking on a
                            Pok&eacute;mon's image, the site user can view individual and detailed information about
                            that Pok&eacute;mon, including their stats,
                            moves, abilities, and more.
                        </p>
                        <p>This Pok&eacute;dex succeeds a Pok&eacute;dex I created for a class project.
                            As it was an introductory programming course and I didn't know how to use modern web technologies
                            at the time, its initial implementation was completed by compiling nearly a thousand HTML files using a Java program. 
                        </p>
                        <p>
                            To update this project, I refactored my Pok&eacute;mon Java database to accompany a Springboot API, and then created a Django backend to serve
                            the HTML with API-provided context instead of hard-written values. This brought down the number of total HTML files from over a thousand to just two.
                        </p>
                        <p>This was my first experience creating an API, and I was able to apply this to future proprietary APIs (namely, RecordWall).
                            Projects hosted on
                            Heroku's free version are slow to initially load, which obviously isn't ideal for an API.
                            Nonetheless, this fact lead
                            to optimization after optimization until the long list page loaded in a reasonable amount of
                            time.
                        </p>
                        <h2>Languages and Technologies</h2>
                        <div class="minilogos">
                            <img src="{% static '/img/icons/django.png' %}" alt="django" title="Django">
                            <img src="{% static '/img/icons/python.png' %}" alt="python" title="Python">
                            <img src="{% static '/img/icons/springboot.png' %}" alt="springboot" title="Springboot">
                            <img src="{% static '/img/icons/java.png' %}" alt="java" title="Java">
                            <img src="{% static 'img/icons/restapi.png' %}" alt="restapi" title="REST API">
                        </div>
                    </div>

                </div>

            </div>


        </section>
    </div>

</main><!-- End #main -->

{% endblock content %}